body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg ,rgba(9,121,18,1) 0%, rgba(9,121,18,1) 35%, rgba(2,0,36,1) 100%);
    min-height: 100vh;
}

.nav-link{
    color: #fff
}

.nav{
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #fff;
}

a{
    display: flex;
    flex-direction: column;
    text-align: center;

}
p{
    margin-bottom: 0;
}

img{
    width: 50%;
    background-color: #fff;
}

.modal-content{
    background-color: #eceaec;
}

.modal-body {
    text-align: center;
}

.delete{
    background-color: #ffffff;
}

.img_delete{
    width: 60%;
}

@media screen and (max-width: 800px) {
    .navbar-nav p{
        width: 30%;
        margin-left: 2%;
    }
    .nav-link{
        text-align: start;
        display: flex;
        flex-direction: row;
        margin: 3% 0px;
    }
}